.selector-for-some-widget {
  box-sizing: content-box;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

.App {
  text-align: center;
}
#spotify-login {
  margin: 40vh auto;
}
h2 {
  margin-top: 10px;
}
.search-track {
  margin: 30vh auto;
}
input[placeholder] {
  text-align: center;
}
