.selector-for-some-widget {
  box-sizing: content-box;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

.App {
  text-align: center;
}
#spotify-login {
  margin: 40vh auto;
}
h1 {
  margin-top: 10px;
  text-transform: capitalize;
}

input[placeholder] {
  text-align: center;
}
.recently-played-tracks {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 10px;
}
